.App-logo {
   height: 40vmin;
   pointer-events: none;
 }
 
@media (prefers-reduced-motion: no-preference) {
.App-logo {
   animation: App-logo-spin infinite 20s linear;
}
}
 

@keyframes App-logo-spin {
   from {
   transform: rotate(0deg);
   }
   to {
   transform: rotate(360deg);
   }
}
 
.App-link {
   color: #61dafb;
}

html, body, #root {
   margin: 0px;
   height: 100%;
   font-family: 'Times New Roman', Times, serif;
}

.App {
   text-align: center;
   height: 100%;
}

.App-header {
   background-color: #282c34;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
   height: 10%;
}

.App-body {
   text-align: center;
   /* Image source: https://www.123rf.com/photo_42171497_stock-vector-cartoon-fast-food-seamless-background-.html */
   background-image: url('./food_background.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 90%;
   padding-left: 10%;
   padding-right: 10%;
   box-sizing: border-box;
   overflow: auto;
}

#wrapper-height-padding {
   height: 90%;
   top: 5%;
   position: relative;
}

#wrapper {
   vertical-align: middle;
   /* Image source: https://thumbnail.imgbin.com/5/8/6/imgbin-knife-napkin-fork-plate-free-dinner-q8BiWFKmeL85JYThWHmLe7JYk_t.jpg */
   background-image: url('./dinner_plate_background.jpg');
   background-size: 100% 100%;
   height: 100%;
   border-style: solid;
   border-color: black;
   box-sizing: border-box;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5px;
   overflow: auto;
}

.Input-Components {
   
}